<% content_for :refresh_tag do %>
  <meta http-equiv='refresh' content='5;url=#bottom'>
<% end %>

<% if @op %>
  <p>
    <code><%=  @op.stage %></code> is currently
    <%=  @op.pending? ? 'pending' :  @op.succeeded? ? 'completed' : 'errored' %>.
  </p>

  <p>
    <pre>
      <%= @op.output %>
    </pre>
  </p>
<% end %>
<a id='bottom'></a>
